<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="extensions.videoview">

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:hardwareAccelerated="true">
        <activity
            android:name="extensions.videoview.VideoViewActivity"
            android:theme="@style/FloatingActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout" />
    </application>
</manifest>
